* {
  margin: 0px;
  padding: 0px;
}

body, html {
  height: 100%;
}

.bg {
  background-color: brown;
  background-image: url("https://cdn.betterttv.net/emote/604bc7d6306b602acc59bab0/3x.gif");
  height: 100%;
}
